{% extends "fbapp/home.html" %}
{% block content %}

  <div class="container">
    <div class="row">
<form action="" method="POST" >
    {% csrf_token %}
   

    <div class="form-group row">
        <label for="inputPassword3" class="col-md-6 col-form-label">Current Password</label>
        <div class="col-md-12">
            <input type="password" class="form-control" id="inputPassword3" name="cur_psw" placeholder=" current Password">
        </div>
    </div> 

    <div class="form-group row">
        <label for="inputPassword3" class="col-md-6 col-form-label">New Password</label>
        <div class="col-md-12">
            <input type="password" class="form-control" id="inputPassword3" name="new_psw" placeholder=" New Password">
        </div>
    </div> 

   
    <br>
    <div class="form-group row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
    <br>
    {% if msg %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{ msg }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
</form>
</div>
</div>



{% endblock %}